{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript/base",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "directory": "./src"
      }
    }
  },
  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/interface-name-prefix": "always",
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": ["error"]
      }
    ],
    "@typescript-eslint/member-delimiter-style": {
      "multiline": {
        "delimiter": "semi",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "semi",
        "requireLast": false
      }
    },
    "import/no-extraneous-dependencies": "off",
    "import/named": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "window": false,
    "document": false
  }
}
